@font-face {
    font-family: 'Roboto-bold';
    font-style: normal;
    src: url(Roboto-Bold.woff2) format('woff2');
}
@font-face {
    font-family: 'Roboto-light';
    font-style: normal;
    src: url(Roboto-Light.woff2) format('woff2');
}
@font-face {
    font-family: 'Roboto-medium';
    font-style: normal;
    src: url(Roboto-Medium.woff2) format('woff2');
}
@font-face {
    font-family: 'Roboto-thin';
    font-style: normal;
    src: url(Roboto-Thin.woff2) format('woff2');
}
